<section>
    <h1 id= "experiencia">Experiencia</h1>
    <div >
                <div> 
                    <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                    <p>
                        <strong>Cargo:</strong> Calibrador<br>
                        <strong>Duracion:</strong> 1 años
                    </p>
                </div>
                <div> 
                    <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                    <p>
                        <strong>Cargo:</strong> Ensamblador<br>
                        <strong>Duracion:</strong> 1 año
                    </p>
                </div>
                <div> 
                    <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                    <p>
                        <strong>Cargo:</strong> Tecnico Reparador<br>
                        <strong>Duracion:</strong> 6 años
                    </p>
                </div>
     </div>
 </section>
