<header>
    <div>
        <div>
            <img id="banner" src="../assets/img/nature-6780354_1920.jpg"; alt="Banner">
            <img id="log" src="../assets/img/Argentina Programa.png"; alt= "Logo Argentina Programa">
            <ul id="redes">
                <a title= "facePersonal" href= "https://www.facebook.com/juanchete.maurice/" target="_blank"><img id="logos" src="../assets/img/facebook.png"; alt="Logo Facebook"></a>
                <a title= "InstaPersonal" href= "https://www.instagram.com/juan_vcp94/" target="_blank"><img id="logos" src="../assets/img/instagram.png"; alt="Logo Instagram"></a>                
                <button id="botonlogin"><p>Login</p></button>
            </ul>
            <ul id="atajo">
                <a href="#sobremi"><b>Sobre mi</b></a>
                <a href="#experiencia"><b>Mi experiencia</b></a>
                <a href="#educacion"><b>Educación</b></a>
                <a href="#habilidades"><b>Habilidades</b></a>
                <a href="#proyectos"><b>Proyectos</b></a>
            </ul>
        </div>
    </div>
    <section>
       <div >
            <div id="sobremi"> 
                <img id="fotoperfil" src="../assets/img/juan maurice.png"alt="Foto de perfil">
                <h1 >Juan Ariel Maurice</h1>  
            </div>
            <div > 
                <h2>Formaciona Academica</h2>
                <p>Técnico Superior en Mecatrónica"</p>
                <p>Desarrollador Web Full Stack Junior - Argentina Programa</p>
            </div>
        </div>
    </section>
</header>
