<section>
    <h1 id="proyectos">Proyectos</h1>
    <div>
        <div > 
            <img  src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div > 
            <h3> Portafolio Web</h3>
            <P>
                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero omnis minima quisquam quibusdam rem exercitationem voluptas rerum, laudantium debitis explicabo error voluptatem quas repellendus sint blanditiis assumenda non ipsum.</strong>
            </P>
        </div>
        <div > 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div > 
            <h3> Bobinadora</h3>
            <P>
                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero omnis minima quisquam quibusdam rem exercitationem voluptas rerum, laudantium debitis explicabo error voluptatem quas repellendus sint blanditiis assumenda non ipsum.</strong>
            </P>
        </div>
    </div>
</section>
