<section>
    <h1 id="habilidades">Habilidades</h1>
    <div>
        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
        </div>
        <div > 
            <P>
               <strong>Diseño 3D</strong> 
            </P>

        </div>
        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div> 
            <P>
               <strong>Impresion 3D</strong>
            </P>
        </div>

        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div> 
            <P>
               <strong>HTML5</strong>
            </P>
        </div>
        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div> 
            <P>
               <strong>CSS</strong>
            </P>
        </div>
        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div> 
            <P>
               <strong>Angular</strong>
            </P>
        </div>
        <div> 
            <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            
        </div>
        <div> 
            <P>
               <strong>Javascript</strong>
            </P>
        </div>
    </div>
 </section>
