<section>
    <h1 id="educacion">Educacion</h1>
    <div >
        <div > 
            <img src="../assets/img/Logo IICO.jpg" ; alt="Foto del iico">
            <P><strong>Nivel:</strong> Secundario<br>
                <strong>Duracion:</strong> 6 años
             </P>
        </div>
        <div > 
            <img width= "5%" src="../assets/img/UTN.FRC.png" ; alt="Foto de UTN">
            <P><strong>Nivel:</strong> Universitario<br>
                <strong>Duracion:</strong> 3 años
             </P>
        </div>
    </div>
</section>