<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="icon" href="src/favicon.ico">
</head>
<body>
    <header>
        <div>
            <div>
                <img id="banner" src="../assets/img/nature-6780354_1920.jpg"; alt="Banner">
                <img id="log" src="../assets/img/Argentina Programa.png"; alt= "Logo Argentina Programa">
                <ul id="redes">
                    <a title= "facePersonal" href= "https://www.facebook.com/juanchete.maurice/" target="_blank"><img id="logos" src="../assets/img/facebook.png"; alt="Logo Facebook"></a>
                    <a title= "InstaPersonal" href= "https://www.instagram.com/juan_vcp94/" target="_blank"><img id="logos" src="../assets/img/instagram.png"; alt="Logo Instagram"></a>                
                    <button id="botonlogin"><p>Login</p></button>
                </ul>
                <ul id="atajo">
                    <a href="#sobremi"><b>Sobre mi</b></a>
                    <a href="#experiencia"><b>Mi experiencia</b></a>
                    <a href="#educacion"><b>Educación</b></a>
                    <a href="#habilidades"><b>Habilidades</b></a>
                    <a href="#proyectos"><b>Proyectos</b></a>
                </ul>
            </div>
        </div>
        <section>
           <div >
                <div id="sobremi"> 
                    <img id="fotoperfil" src="../assets/img/juan maurice.png"alt="Foto de perfil">
                    <h1 >Juan Ariel Maurice</h1>  
                </div>
                <div > 
                    <h2>Formaciona Academica</h2>
                    <p>Técnico Superior en Mecatrónica"</p>
                    <p>Desarrollador Web Full Stack Junior - Argentina Programa</p>
                </div>
            </div>
        </section>
    </header>
    <section>
        <h1 id= "experiencia">Experiencia</h1>
        <div >
                    <div> 
                        <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                        <p>
                            <strong>Cargo:</strong> Calibrador<br>
                            <strong>Duracion:</strong> 1 años
                        </p>
                    </div>
                    <div> 
                        <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                        <p>
                            <strong>Cargo:</strong> Ensamblador<br>
                            <strong>Duracion:</strong> 1 año
                        </p>
                    </div>
                    <div> 
                        <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                        <p>
                            <strong>Cargo:</strong> Tecnico Reparador<br>
                            <strong>Duracion:</strong> 6 años
                        </p>
                    </div>
                
        </div>
    </section>
    <section>
            <h1 id="educacion">Educacion</h1>
            <div >
                <div > 
                    <img src="../assets/img/Logo IICO.jpg" ; alt="Foto del iico">
                    <P><strong>Nivel:</strong> Secundario<br>
                        <strong>Duracion:</strong> 6 años
                     </P>
                </div>
                <div > 
                    <img width= "5%" src="../assets/img/UTN.FRC.png" ; alt="Foto de UTN">
                    <P><strong>Nivel:</strong> Universitario<br>
                        <strong>Duracion:</strong> 3 años
                     </P>
                </div>
            </div>
    </section>
    <section>
        <h1 id="habilidades">Habilidades</h1>
        <div>
            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
            </div>
            <div > 
                <P>
                   <strong>Diseño 3D</strong> 
                </P>

            </div>
            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                
            </div>
            <div> 
                <P>
                   <strong>Impresion 3D</strong>
                </P>
            </div>

            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                
            </div>
            <div> 
                <P>
                   <strong>HTML5</strong>
                </P>
            </div>
            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                
            </div>
            <div> 
                <P>
                   <strong>CSS</strong>
                </P>
            </div>
            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                
            </div>
            <div> 
                <P>
                   <strong>Angular</strong>
                </P>
            </div>
            <div> 
                <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                
            </div>
            <div> 
                <P>
                   <strong>Javascript</strong>
                </P>
            </div>
        </div>
    </section>
    <section>
            <h1 id="proyectos">Proyectos</h1>
            <div>
                <div > 
                    <img  src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                    
                </div>
                <div > 
                    <h3> Portafolio Web</h3>
                    <P>
                        <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero omnis minima quisquam quibusdam rem exercitationem voluptas rerum, laudantium debitis explicabo error voluptatem quas repellendus sint blanditiis assumenda non ipsum.</strong>
                    </P>
                </div>
                <div > 
                    <img src="../assets/img/Tecme.png" ; alt="Foto de perfil">
                    
                </div>
                <div > 
                    <h3> Bobinadora</h3>
                    <P>
                        <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero omnis minima quisquam quibusdam rem exercitationem voluptas rerum, laudantium debitis explicabo error voluptatem quas repellendus sint blanditiis assumenda non ipsum.</strong>
                    </P>
                </div>
            </div>
    </section>
    <footer>
        <h5>@2021 Sadosky</h5>
        <h6><a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos">Facebook iconos creados por Stockio - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos creados por Freepik - Flaticon</a> </h6>
    </footer>
    <script src="mis_funciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>