<app-encabezado></app-encabezado>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidades></app-habilidades> 
<app-proyectos></app-proyectos>     
<footer>
    <h5>@2021 Sadosky</h5>
    <h6><a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos">Facebook iconos creados por Stockio - Flaticon</a>
        <a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos creados por Freepik - Flaticon</a> </h6>
</footer>
